extends layout

block content
  div.row
    div.col-md-12.center-block.content
      h1.logo= title
      h2= title
      a.instagram(href="//www.instagram.com/t_zer", target="blank")
        <i class="fa fa-instagram"></i>
      a.fb(href="//www.facebook.com/insaniti14", target="blank")
        <i class="fa fa-facebook-square"></i>